header{
    background-color:royalblue;
    color: white;
    font-size: 2.5em;
    padding: 30px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
@media (max-width:600px) {
    header{
        gap:15px;
        font-size: 2rem;
        padding: 20px;
    }
}