.listItem{
    /* background-color: red; */
    margin: 8px 0;
    font-size: 24px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.137);
    cursor:pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.text{
    font-size: 18px;
    font-weight: 500;
}
.text{
    flex: 1;
    padding: 12px;
}
.completed{
    opacity: .4;
    text-decoration: line-through;
}
.deleteBtn{
    padding:  8px 12px;
    background-color: royalblue;
    color: white;
    font-weight: 800;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 6px;

    &:hover{
        background-color: rgba(65, 105, 225, 0.89);
    }
    &:active{
        scale: .98;
    }

}